 .loginContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
     padding-left: 400px;
     padding-right: 400px;
  }
  /*
  ['baltoy',
 'braviary',
 'bronzor',
 'breloom',
 'bronzong',
 'budew',
 'buneary',
 'bruxish',
 'bulbasaur',
 'buizel',
 'brionne',
 'blitzle',
 'blissey',
 'bounsweet',
 'bouffalant',
 'boldore',
 'bonsly',
 'braixen',
 'blaziken',
 'blacephalon',
 'blastoise',
 'bergmite',
 'bellossom',
 'bewear',
 'bellsprout',
 'beldum',
 'bidoof',
 'bisharp',
 'bibarel',
 'binacle',
 'beheeyem',
 'beartic',
 'bastiodon',
 'barbaracle',
 'banette',
 'basculin-red-striped',
 'bayleef',
 'beautifly',
 'beedrill',
 'barboach',
 'chatot',
 'charmander',
 'celesteela',
 'cascoon',
 'chansey',
 'charjabug',
 'castform',
 'charizard',
 'caterpie',
 'chandelure',
 'celebi',
 'camerupt',
 'butterfree',
 'burmy',
 'cacturne',
 'carnivine',
 'cacnea',
 'carracosta',
 'carbink',
 'carvanha',
 'buzzwole',
 'bunnelby',
 'cosmog',
 'cofagrigus',
 'combee',
 'combusken',
 'cobalion',
 'conkeldurr',
 'corphish',
 'comfey',
 'corsola',
 'cosmoem',
 'cloyster',
 'claydol',
 'cleffa',
 'chingling',
 'clauncher',
 'clamperl',
 'clefairy',
 'cinccino',
 'clefable',
 'clawitzer',
 'chinchou',
 'cherubi',
 'chikorita',
 'cherrim',
 'chesnaught',
 'chimecho',
 'charmeleon',
 'chimchar',
 'chespin',
 'dewgong',
 'deino',
 'delcatty',
 'delphox',
 'deerling',
 'decidueye',
 'deoxys-normal',
 'dedenne',
 'delibird',
 'darumaka',
 'darmanitan-standard',
 'cryogonal',
 'crustle',
 'darkrai',
 'cubchoo',
 'cubone',
 'cutiefly',
 'cyndaquil',
 'dartrix',
 'croconaw',
 'crobat',
 'croagunk',
 'cranidos',
 'cresselia',
 'crabrawler',
 'cottonee',
 'cradily',
 'crabominable',
 'crawdaunt',
 'ducklett',
 'durant',
 'druddigon',
 'drowzee',
 'dusknoir',
 'dugtrio',
 'duosion',
 'dunsparce',
 'dusclops',
 'drilbur',
 'dratini',
 'drifblim',
 'dragonair',
 'drapion',
 'dragalge',
 'drampa',
 'doublade',
 'dragonite',
 'drifloon',
 'donphan',
 'dewpider',
 'dhelmise',
 'diancie',
 'doduo',
 'dialga',
 'diglett',
 'diggersby',
 'ditto',
 'dodrio',
 'dewott',
 'excadrill',
 'espurr',
 'elekid',
 'empoleon',
 'emolga',
 'escavalier',
 'espeon',
 'elgyem',
 'emboar',
 'entei',
 'electrode',
 'dwebble',
 'ekans',
 'dustox',
 'eevee',
 'eelektross',
 'electabuzz',
 'electrike',
 'eelektrik',
 'electivire',
 'duskull',
 'fomantis',
 'furfrou',
 'froakie',
 'forretress',
 'frogadier',
 'foongus',
 'fraxure',
 'froslass',
 'frillish',
 'flygon',
 'fletchling',
 'floatzel',
 'flaaffy',
 'finneon',
 'flareon',
 'flabebe',
 'florges',
 'floette',
 'fletchinder',
 'ferrothorn',
 'farfetchd',
 'fennekin',
 'exploud',
 'ferroseed',
 'feraligatr',
 'exeggcute',
 'feebas',
 'exeggutor',
 'fearow',
 'gliscor',
 'girafarig',
 'geodude',
 'giratina-altered',
 'gible',
 'glalie',
 'gligar',
 'glameow',
 'gigalith',
 'glaceon',
 'gengar',
 'garchomp',
 'gabite',
 'garbodor',
 'galvantula',
 'gastly',
 'genesect',
 'gastrodon',
 'gallade',
 'gardevoir',
 'furret',
 'grubbin',
 'growlithe',
 'gulpin',
 'grumpig',
 'groudon',
 'grovyle',
 'grotle',
 'gumshoos',
 'gurdurr',
 'grimer',
 'gothitelle',
 'graveler',
 'gothorita',
 'granbull',
 'gourgeist-average',
 'goodra',
 'greninja',
 'gothita',
 'gorebyss',
 'goomy',
 'golurk',
 'golbat',
 'gloom',
 'gogoat',
 'golett',
 'golisopod',
 'golduck',
 'golem',
 'goldeen',
 'helioptile',
 'hitmonlee',
 'hippopotas',
 'hitmonchan',
 'honchkrow',
 'hitmontop',
 'hippowdon',
 'heracross',
 'herdier',
 'heliolisk',
 'heatran',
 'happiny',
 'hariyama',
 'hawlucha',
 'heatmor',
 'haunter',
 'gyarados',
 'hakamo-o',
 'haxorus',
 'guzzlord',
 'hypno',
 'hoppip',
 'hoothoot',
 'honedge',
 'huntail',
 'hoopa-confined',
 'hydreigon',
 'houndour',
 'horsea',
 'houndoom',
 'ho-oh',
 'kingdra',
 'kecleon',
 'kartana',
 'kingler',
 'kirlia',
 'klefki',
 'keldeo-ordinary',
 'klang',
 'klink',
 'karrablast',
 'jynx',
 'kangaskhan',
 'jumpluff',
 'kabutops',
 'kadabra',
 'kabuto',
 'joltik',
 'jirachi',
 'kakuna',
 'jolteon',
 'jangmo-o',
 'infernape',
 'jellicent',
 'illumise',
 'ivysaur',
 'incineroar',
 'igglybuff',
 'jigglypuff',
 'inkay',
 'liepard',
 'lilligant',
 'lickitung',
 'lillipup',
 'lickilicky',
 'lileep',
 'ledyba',
 'ledian',
 'leavanny',
 'leafeon',
 'larvesta',
 'latios',
 'lapras',
 'lampent',
 'lairon',
 'larvitar',
 'latias',
 'lanturn',
 'landorus-incarnate',
 'kyurem',
 'komala',
 'kyogre',
 'kommo-o',
 'krabby',
 'kricketot',
 'krookodile',
 'krokorok',
 'kricketune',
 'koffing',
 'klinklang',
 'lunala',
 'lunatone',
 'luxray',
 'luvdisc',
 'lurantis',
 'machamp',
 'luxio',
 'lumineon',
 'lycanroc-midday',
 'lugia',
 'lombre',
 'ludicolo',
 'lotad',
 'loudred',
 'lopunny',
 'litwick',
 'lucario',
 'litleo',
 'litten',
 'linoone',
 'maractus',
 'mantyke',
 'makuhita',
 'mamoswine',
 'mankey',
 'manaphy',
 'mandibuzz',
 'mantine',
 'manectric',
 'malamar',
 'magnezone',
 'machop',
 'magby',
 'magcargo',
 'magneton',
 'magmar',
 'magmortar',
 'magnemite',
 'magikarp',
 'magearna',
 'machoke',
 'miltank',
 'mime-jr',
 'milotic',
 'mienshao',
 'mewtwo',
 'mienfoo',
 'mimikyu',
 'mew',
 'mightyena',
 'metapod',
 'metang',
 'meowth',
 'meltan',
 'meowstic-male',
 'meganium',
 'metagross',
 'mesprit',
 'melmetal',
 'meloetta-aria',
 'meditite',
 'marowak',
 'mareanie',
 'marshadow',
 'marshtomp',
 'mareep',
 'masquerain',
 'mawile',
 'marill',
 'medicham',
 'murkrow',
 'natu',
 'muk',
 'munna',
 'mudsdale',
 'mudkip',
 'musharna',
 'naganadel',
 'munchlax',
 'mudbray',
 'mothim',
 'moltres',
 'misdreavus',
 'minior-meteor',
 'mr-mime',
 'morelull',
 'minun',
 'mismagius',
 'monferno',
 'minccino',
 'nidoking',
 'nidoran-f',
 'nidorino',
 'nidoqueen',
 'nidoran-m',
 'nincada',
 'ninetales',
 'nihilego',
 'nidorina',
 'necrozma',
 'oricorio-baile',
 'pancham',
 'oshawott',
 'pachirisu',
 'onix',
 'oranguru',
 'palkia',
 'palossand',
 'omastar',
 'palpitoad',
 'noivern',
 'octillery',
 'nosepass',
 'noibat',
 'oddish',
 'numel',
 'noctowl',
 'omanyte',
 'nuzleaf',
 'ninjask',
 'pheromosa',
 'pidgeot',
 'phione',
 'petilil',
 'phantump',
 'pichu',
 'pidgeotto',
 'phanpy',
 'pidgey',
 'patrat',
 'panpour',
 'pansear',
 'passimian',
 'pansage',
 'pawniard',
 'paras',
 'pelipper',
 'parasect',
 'persian',
 'pangoro',
 'poliwrath',
 'popplio',
 'poliwhirl',
 'poliwag',
 'porygon2',
 'ponyta',
 'porygon-z',
 'porygon',
 'poochyena',
 'politoed',
 'piplup',
 'pineco',
 'pinsir',
 'pignite',
 'plusle',
 'piloswine',
 'poipole',
 'pidove',
 'pikipek',
 'pikachu',
 'pyukumuku',
 'pyroar',
 'psyduck',
 'probopass',
 'pupitar',
 'prinplup',
 'purrloin',
 'primeape',
 'pumpkaboo-average',
 'purugly',
 'primarina',
 'reshiram',
 'remoraid',
 'relicanth',
 'rayquaza',
 'regice',
 'regigigas',
 'rattata',
 'registeel',
 'regirock',
 'raticate',
 'raikou',
 'raichu',
 'ralts',
 'quagsire',
 'rampardos',
 'rapidash',
 'qwilfish',
 'quilladin',
 'quilava',
 'sableye',
 'salandit',
 'salamence',
 'rufflet',
 'rowlet',
 'sandshrew',
 'salazzle',
 'sandile',
 'samurott',
 'rotom',
 'rhyhorn',
 'riolu',
 'rhyperior',
 'rockruff',
 'roselia',
 'roserade',
 'roggenrola',
 'ribombee',
 'rhydon',
 'reuniclus',
 'seismitoad',
 'sealeo',
 'serperior',
 'seel',
 'seaking',
 'servine',
 'seadra',
 'sentret',
 'seedot',
 'scyther',
 'sandygast',
 'scrafty',
 'scolipede',
 'scizor',
 'scraggy',
 'sceptile',
 'sawsbuck',
 'sawk',
 'scatterbug',
 'sandslash',
 'shroomish',
 'sigilyph',
 'shuckle',
 'simipour',
 'shiftry',
 'silvally',
 'shuppet',
 'silcoon',
 'shinx',
 'shiinotic',
 'sewaddle',
 'shelmet',
 'sharpedo',
 'shedinja',
 'shelgon',
 'shieldon',
 'shellos',
 'shellder',
 'shaymin-land',
 'seviper',
 'slugma',
 'smeargle',
 'slowpoke',
 'smoochum',
 'sneasel',
 'slurpuff',
 'slowking',
 'slowbro',
 'sliggoo',
 'slakoth',
 'skarmory',
 'skrelp',
 'skitty',
 'skiploom',
 'skiddo',
 'skorupi',
 'skuntank',
 'slaking',
 'simisear',
 'simisage',
 'spinda',
 'stakataka',
 'spinarak',
 'spoink',
 'staraptor',
 'stantler',
 'spritzee',
 'spiritomb',
 'squirtle',
 'spheal',
 'spearow',
 'spewpa',
 'snorunt',
 'solgaleo',
 'solosis',
 'snorlax',
 'snover',
 'snubbull',
 'solrock',
 'snivy',
 'swablu',
 'swanna',
 'swampert',
 'sunflora',
 'surskit',
 'swalot',
 'swadloon',
 'suicune',
 'sunkern',
 'sudowoodo',
 'stufful',
 'stunky',
 'stunfisk',
 'starmie',
 'steelix',
 'stoutland',
 'starly',
 'steenee',
 'staryu',
 'staravia',
 'tornadus-incarnate',
 'torchic',
 'tirtouga',
 'torkoal',
 'togedemaru',
 'togetic',
 'timburr',
 'togekiss',
 'togepi',
 'thundurus-incarnate',
 'tentacool',
 'tentacruel',
 'tapu-lele',
 'teddiursa',
 'tepig',
 'throh',
 'tauros',
 'tapu-koko',
 'terrakion',
 'tapu-fini',
 'tangela',
 'tapu-bulu',
 'swinub',
 'tangrowth',
 'swoobat',
 'sylveon',
 'swirlix',
 'taillow',
 'talonflame',
 'swellow',
 'tynamo',
 'tsareena',
 'type-null',
 'typhlosion',
 'turtonator',
 'trubbish',
 'trumbeak',
 'tympole',
 'turtwig',
 'tropius',
 'toxicroak',
 'trapinch',
 'trevenant',
 'totodile',
 'torterra',
 'toucannon',
 'tranquill',
 'toxapex',
 'treecko',
 'torracat',
 'venomoth',
 'venonat',
 'vibrava',
 'vanilluxe',
 'victini',
 'vaporeon',
 'vespiquen',
 'venipede',
 'venusaur',
 'vanillite',
 'vanillish',
 'ursaring',
 'tyrogue',
 'umbreon',
 'unfezant',
 'uxie',
 'unown',
 'tyrunt',
 'tyrantrum',
 'tyranitar',
 'wartortle',
 'weepinbell',
 'watchog',
 'vulpix',
 'wailord',
 'weavile',
 'weedle',
 'walrein',
 'wailmer',
 'vullaby',
 'vivillon',
 'voltorb',
 'volbeat',
 'vigoroth',
 'virizion',
 'vikavolt',
 'volcarona',
 'vileplume',
 'volcanion',
 'victreebel',
 'wooper',
 'wynaut',
 'xurkitree',
 'yamask',
 'xatu',
 'xerneas',
 'wormadam-plant',
 'wurmple',
 'yanma',
 'woobat',
 'whimsicott',
 'wigglytuff',
 'wimpod',
 'whiscash',
 'wobbuffet',
 'wingull',
 'wishiwashi-solo',
 'whismur',
 'whirlipede',
 'weezing',
 'zweilous',
 'absol',
 'abra',
 'zygarde-50',
 'abomasnow',
 'aegislash-blade',
 'accelgor',
 'zubat',
 'aerodactyl',
 'zorua',
 'zoroark',
 'zigzagoon',
 'yveltal',
 'zekrom',
 'zapdos',
 'zeraora',
 'zangoose',
 'zebstrika',
 'yungoos',
 'yanmega',
 'azurill',
 'aurorus',
 'bagon',
 'azumarill',
 'axew',
 'avalugg',
 'azelf',
 'audino',
 'articuno',
 'aron',
 'aromatisse',
 'ariados',
 'archeops',
 'armaldo',
 'archen',
 'arceus',
 'arcanine',
 'araquanid',
 'arbok',
 'ambipom',
 'anorith',
 'aggron',
 'alakazam',
 'altaria',
 'ampharos',
 'alomomola',
 'amoonguss',
 'amaura',
 'aipom'] */